Package: libpng
Version: 1.6.37-9
Depends: zlib
Architecture: x64-windows
Multi-Arch: same
Abi: 68a0dce002d259e4d77c0ca0371fb1ec6b6fa58b
Description: libpng is a library implementing an interface for reading and writing PNG (Portable Network Graphics) format files.
Type: Port
